@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

:root {
  --primary-orange: #fe4e01;
  --primary-fluo: #bffd36;

  --white: #fff;
  --dark-gray: #222;

  --facebook-clr: #4167b2;
  --instagram-clr: #c13584;
  --youtube-clr: #f72a00;
  --tiktok-clr: #25f4ee;

  --nav-footer-bg-color: rgba(0, 0, 0, 0.8);

  /* Transitions */
  --button-transition-speed: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.hero h1 {
  font-family: "Nerko One", cursive !important;
  font-size: 74px;
  z-index: 2;
  color: var(--primary-orange);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  transform: rotate(-10deg);
}

.hero .option-btn {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 10vw;
  }
}

@media only screen and (max-width: 991px) {
  .hero-img-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
    z-index: 1;
  }
}

/* Options */
.option-btn {
  border: none;
  display: flex;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: var(--white);
  font-weight: 700;
  font-size: 15px;
  background-color: var(--dark-gray);
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 284px;
  justify-content: center;
  border-radius: 20px;
  z-index: 2;
}

.option-btn span {
  position: relative;
  z-index: 1;
}

.option-btn:after {
  content: "";
  position: absolute;
  left: -90%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-orange);
  -webkit-transition: var(--button-transition-speed);
  transition: var(--button-transition-speed);
}

.option-btn:hover:after {
  -webkit-transform: translateX(80%);
  transform: translateX(80%);
}

/* Sections */

.section {
  margin: 80px 0px;
}

.right-section img {
  width: 100%;
}

.section-title-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title-img .bocola-img {
  width: 20%;
}

.section-title-img .small-bocola-img {
  width: 15%;
}

.section-title {
  position: relative;
  font-family: "Nerko One", cursive !important;
  font-size: 50px;
  color: var(--primary-orange);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@media only screen and (max-width: 453px) {
  .section-title {
    font-size: 10vw;
  }
}

.section-title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: var(--primary-orange);
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

.section-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.section-info-important {
  color: var(--primary-orange);
  font-weight: bold;
}

.section-info ul {
  list-style: none;
}

.section-info ul li {
  position: relative;
  font-size: 17px;
  font-weight: 500;
}

.section-info ul li::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--primary-orange);
  left: -20px;
  top: 5px;
  border-radius: 50%;
}

.section-info img {
  width: 30%;
}

.section-info .small-img {
  width: 15%;
}

.section-info-right {
  display: flex;
  flex-direction: column;
}

.section-info-right button {
  min-width: 200px;
}

/* FOOTER */

.footer-container {
  padding: 25px 30px 25px 30px;
  z-index: 2;
  background-color: var(--nav-footer-bg-color);
  backdrop-filter: blur(14px);
}

.footer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left a {
  font-family: "Nerko One", cursive;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--primary-orange);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  color: var(--white);
}

.footer-middle #distribution {
  text-align: center;
  font-size: 16px;
}

.footer-middle p {
  margin-bottom: 5px;
  font-size: 12px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  color: var(--white);
  align-items: center;
}

.footer-middle a {
  text-decoration: none;
  color: gray;
  z-index: 99;
}

.footer-middle a:hover {
  color: var(--primary-orange);
}

.footer .social-icons {
  color: var(--white);
  font-size: 2em;
  padding: 10px;
  transition: var(--button-transition-speed);
}

.footer .fa-facebook-f:hover {
  color: var(--facebook-clr);
}

.footer .fa-instagram:hover {
  color: var(--instagram-clr);
}

.footer .fa-youtube:hover {
  color: var(--youtube-clr);
}

.footer .fa-tiktok:hover {
  color: var(--tiktok-clr);
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
  }

  .footer #distribution {
    padding: 20px 0px 10px 0px;
  }
}
